<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /aib-ads/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /aib-ads/index.html [L]
</IfModule>
